/* MAIN STYLES */

* {
    font-family: "Lato", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    overflow-x: hidden;
}

h1 {
    font-size: 2.4em;
    margin: 10px 0px;
}

h2 {
    font-size: 2.2em;
    margin: 20px 0px;
    font-weight: 700;
}

h3 {
    font-size: 1.4em;
    font-weight: 700;
}

h4 {
    font-size: 1.3em
}

p {
    font-weight: 300;
}

p.large {
    font-size: 1.2em;
    line-height: 1.7em;
}

p.small {
    font-size: 1.3em;
    line-height: 1.5em;
}

ul {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.5em;
}

hr {
    margin-bottom: 0;
}

.button {
    width: 90px;
    color: white;
    font-size: 18px;
    font-weight: 300;
    background-color: #4d5a80;
    border: none;
    padding: 9px 16px;
}

.button:hover {
    color: white;
    text-decoration: none;
}

/* NAVIGATION */

#header {
    width: 100%;
    height: 95px;
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#header.smaller {
    height: 50px;
}

#logo {
    float: left;
    display: inline-block;
    position: fixed;
    height: 66px;
    z-index: 999;
    margin-top: 14px;
    margin-left: 14px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#logo.smaller {
    height: 33px;
    margin-top: 9px;
    margin-left: 8px;
}

#nav-list {
    float: right;
    display: inline-block;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    width: 150px;
    position: absolute;
    line-height: 50px;
    -webkit-transform: translate(100vw, 95px);
    -moz-transform: translate(100vw, 95px);
    -ms-transform: translate(100vw, 95px);
    -o-transform: translate(100vw, 95px);
    transform: translate(100vw, 95px);
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}

#nav-list.smaller {
    margin-top: 0px;
    line-height: 50px;
    -webkit-transform: translate(100vw, 50px);
    -moz-transform: translate(100vw, 50px);
    -ms-transform: translate(100vw, 50px);
    -o-transform: translate(100vw, 50px);
    transform: translate(100vw, 50px);
}

#nav-list.open {
    -webkit-transform: translate(calc(100vw - 150px), 95px);
    -moz-transform: translate(calc(100vw - 150px), 95px);
    -ms-transform: translate(calc(100vw - 150px), 95px);
    -o-transform: translate(calc(100vw - 150px), 95px);
    transform: translate(calc(100vw - 150px), 95px);
}

#nav-list.smaller.open {
    -webkit-transform: translate(calc(100vw - 150px), 50px);
    -moz-transform: translate(calc(100vw - 150px), 50px);
    -ms-transform: translate(calc(100vw - 150px), 50px);
    -o-transform: translate(calc(100vw - 150px), 50px);
    transform: translate(calc(100vw - 150px), 50px);
}

.nav-item {
    font-size: 1.25em;
    text-align: left;
    display: list-item;
    list-style: none;
    color: darkgrey;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-item:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#nav-icon-cont {
    display: inline-block;
    float: right;
    width: 35px;
    margin: 30px 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#nav-icon {
    fill: #e0e0e0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#nav-icon-cont.smaller {
    width: 26px;
    margin: 10px;
}

/* MAIN CONTENT */

.main-img {
    background-image: url('images/header_sm.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.text-overlay {
    width: 100%;
    top: calc(50vh - 57.5px);
    text-align: center;
    color: white;
    position: absolute;
}

#arrow {
    width: 100%;
    color: white;
    font-size: 4em;
    text-align: center;
    top: calc(100% - 80px);
    position: absolute;
    animation: bounce 1.5s infinite ease-in-out;
}

.container-color {
    background-color: #f3efe0;
    width: 100%;
}

.text-block {
    margin: 2.5em 1em;
    text-align: center;
}

.summary {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 4em;
}

.diagonal {
    display: block;
    width: 100%;
    height: 45px;
    padding-left: -15px;
    padding-right: -15px;
}

.white {
    fill: white;
}

.lt-blue {
    fill: #ecedf1;
}

/* RESUME */

.pad-bottom {
    padding-bottom: 2em;
}

.pad-top {
    padding-top: 2em;
}

.resume-heading2 {
    text-align: center;
    color: #4d5a80;
}

.resume-heading3 {
    font-size: 1.5em;
    color: #4d5a80;
    margin-bottom: 0.8em;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -ms-transition: all 0.5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#headshot-image {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

.social-resume {
    display: table;
}

.social-int {
    display: table-cell;
    text-align: center;
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.social-icon {
    color: #4d5a80;
    font-size: 30px;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all 0.3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.row-blue {
    background-color: #ecedf1;
    width: 100vw;
}

.icon-cont, .title-cont {
    display: table-cell;
    height: 75px;
    vertical-align: middle;
    padding-bottom: 2em;
    padding-top: 2em;
}

.icon-cont {
    padding-left: 30px;
}

.title-cont {
    padding-right: 20px;
}

.resume-icon {
    color: white;
    font-size: 26px;
    border-radius: 50%;
    padding: 12px;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all 0.2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.title-cont h3 {
    font-size: 1.8em;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

#experience {
    background-color: #2d8659;
}

#education {
    background-color: #2d2d86;
    padding: 12px 8.29px;
}

#technical {
    background-color: #ff3300;
}

#volunteer {
    background-color: #cc0000;
}

#about {
    padding-bottom: 2em;
}

/* FOOTER */

#footer {
    padding: 2.5em;
    background-color: black;
    color: white;
    text-align: center;
}

.social-footer {
    display: table;
    margin-left:auto;
    margin-right:auto;
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2.6em;
    }

    h3 {
        font-size: 1.5em;
    }

    p.small {
        font-size: 1.3em;
    }

    p.large {
        font-size: 1.6em;
    }

    ul {
        font-size: 1.3em;
        font-weight: 300;
    }

    #nav-icon-cont {
        display: none;
    }

    #nav-list {
        float: right;
        display: inline-block;
        line-height: 95px;
        width: 100%;
        z-index: 10;
        position: static;
        background-color: rgba(0, 0, 0, 0);
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav-item {
        display: inline;
        float: right;
        padding-left: 0px;
        color: darkgrey;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        -ms-transition: all 0.5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    #nav-list.smaller {
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .main-img {
        background-image: url('images/header_lg.jpg');
    }

    .text-block {
        margin: 50px 12%;
    }

    #headshot-image {
        width: 130px;
        -moz-filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -ms-transition: all 0.3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .icon-cont, .title-cont {
        padding-top: 1em;
    }
}

/* col-sm */
@media screen and (min-width: 768px) {

    .darken {
        -moz-filter: brightness(75%);
        -webkit-filter: brightness(75%);
        -ms-filter: brightness(75%);
        -o-filter: brightness(75%);
        filter: brightness(75%);
        transition: .6s all;
    }

    .darken:hover {
        -moz-filter: brightness(100%);
        -webkit-filter: brightness(100%);
        -ms-filter: brightness(100%);
        -o-filter: brightness(100%);
        filter: brightness(100%);
    }

    .button:hover {
        -webkit-filter: hue-rotate(90deg);
        -moz-filter: hue-rotate(90deg);
        -ms-filter: hue-rotate(90deg);
        -o-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
        transition: .4s all;
    }

    #headshot-image:hover{
        width: 160px;
        padding-top: 50px;
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
    }

    .diagonal {
        height: 90px;
    }

    .resume-icon:hover {
        font-size: 34px;
        padding: 15px;
    }

    #education:hover {
        padding: 15px 10.15px;
    }

    .social-icon:hover {
        font-size: 38px;
        text-decoration: none;
        -webkit-filter: hue-rotate(90deg);
        -moz-filter: hue-rotate(90deg);
        -ms-filter: hue-rotate(90deg);
        -o-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
    }
}

/* col-md */
@media screen and (min-width: 992px) {
    #headshot, #about {
        margin-bottom: 0;
    }
}

/* ANIMATIONS */

@keyframes bounce {
    0%, 20%, 60%, 100%  { transform: translateY(0); }
    40%  { transform: translateY(-20px); }
    80% { transform: translateY(-10px); }
}