/* MAIN STYLES */

* {
    font-family: "Lato", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zilla Slab', serif;
}

h1 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-weight: 700;
    font-size: 2.4em;
    margin: 10px 0px;
}

h2 {
    font-weight: 700;
    font-size: 2.2em;
    margin: 20px 0px;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.button {
    color: #696969;
    font-size: 18px;
    font-weight: 700;
    background-color: #d5e760;
    border: none;
    padding: 9px 16px;
    display: inline-block;
    font-family: 'Zilla Slab', serif;
}

.button:hover {
    background-color: rgba(213, 231, 96, 0.5);
}

.button:hover, .button:focus {
    text-decoration: none;
}

/* MAIN CONTENT */

body {
    width: 500vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
}

.slider {
    display: inline-block;
    height: 100vh;
    overflow-y: scroll;
    width: 100vw;
    margin: 0;
    float: left;
    background-color: #080119;
}

.slider-work {
    padding-bottom: 5vw;
}

/* Hero & Navigation */

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url('images/home-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-color: rgba(16, 11, 56, 0.65);
    background-blend-mode: multiply;
}

.title {
    display: table;
    width: 100%;
    /*background-color: #b7d10f;*/
    background-color: #A9A9A9;
    padding: 5vh 0;
}

.title h1 {
    color: #fff;
    text-shadow: 6px 6px 22px #777;
    margin: 0;
    display: inline-block;
}

/*.background-bar {
    height: 120px;
    background-color: #bbb;
    position: absolute;
    width: 100%;
    bottom: 0;
    pointer-events: none;
}*/

.hero .nav-container {
    padding: 10vh 0;
    display: block;
    text-align: left;
}

.nav-container {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 5%;
}

.nav-container ul {
    padding: 0;
    margin-bottom: 0;
}

.nav-container ul li {
    display: inline-block;
    list-style-type: none;
    
    margin-left: 15px;
    vertical-align: bottom;
}

.nav-container ul li a.nav-item {
    font-weight: 700;
    font-size: 20px;
    color: #080119;
    transition: 0.2s;
    line-height: 0;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.nav-container a.nav-item:hover {
    font-size: 24px;
    text-decoration: none;
}

.nav-container a.nav-item:active {
    text-decoration: none;
}

a.nav-item.active {
    color: #d5e760 !important;
}

.hero .nav-container ul li {
    display: block;
    margin-bottom: 7vh;
    margin-left: 0;   
}

.hero .nav-container ul li a {
    font-family: 'Zilla Slab Highlight', cursive;
    color: #A9A9A9;
    font-size: 35px;
}

.hero .nav-container ul li a:hover {
    font-size: 45px;
    color: #d5e760;
    margin-left: 20px;
}


.nav-container ul li:last-of-type {
    border-right: #fff solid 3px;
    padding-right: 30px;
}

.hero .nav-container ul li:last-of-type {
    border-right: 0;
    padding-right: 0;
}

.hero-title {
    position: absolute;
    bottom: 15vh;
    width: 100vw;
    text-align: right;
}

.hero h1, .hero h3 {
    transition: 0.2s;
}

.hero h1 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 7vw;
    font-weight: 700;
    box-shadow: -12px 12px 0 #A9A9A9;
    margin-right: 2px;
    color: #d5e760;
    display: inline-block;
}

.hero h3 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 3vw;
    font-weight: 300;
    text-shadow: -4px 4px 5px #000;
    margin-right: 10px;
}

/* Projects grid */

.slider-work .grid-container {
    display: grid;
    overflow: hidden;
    background-color: #fff;
    padding: 10px 10px 0 10px;
    box-shadow: 5px 5px 25px #000;
    width: 90vw;
    margin: -10vh auto 0 auto;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(12, 28.333333vh);
    grid-template-areas: 
        "featured-container"
        "summary-container"
        "project-2"
        "project-3"
        "project-4"
        "project-5"
        "project-6"
        "project-7"
        "project-8"
        "project-9"
        "project-10"
        "project-11";
    transition: 0.2s;
}

.slider-work .grid-container .featured-container .project-1 {
    transition: 0s;
}

.slider-work .grid-container.active > .project {
    display: none;
}

.slider-work .grid-container .featured-container .project.selected {
    opacity: 1;
    z-index: 999999;
}

.slider-work .grid-container.active .featured-container .project.selected:hover, .slider-work .grid-container.active .featured-container .project.selected {
    background-color: rgba(0, 0, 0, 0.3);
    filter: grayscale(50%);
}

.slider-work .grid-container.active .featured-container .project.selected .project-inner.hover {
    height: 0%;
}

.slider-work .grid-container.active .summary-container {
    grid-area: summary-container;
}

.slider-work .grid-container.active .summary-container .summary:not(.selected) {
    display: none;
}

.slider-work .grid-container:not(.active) .project-inner.hover h2 {
    font-size: 36px;
}

.slider-work .grid-container:not(.active) .project-inner.hover h3 {
    font-size: 20px;
}

.slider-work .grid-container:not(.active) .featured-container .project-1.active:hover {
    background-color: transparent;
    filter: grayscale(0);
}


.project {
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    filter: grayscale(100%);
    transition: 0.2s;
    cursor: pointer;
}

.featured-container {
    grid-area: featured-container;
    position: relative;
    text-align: center;
    transition: 0.2s;
    background-color: #000;
}

.featured-container .project {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.2s;
}

.featured-container .project .title-container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.featured-container .project .project-inner h2 {
    font-family: 'Zilla Slab', serif;
    color: #fff;
    font-size: 31px;
}

.featured-container .project .project-inner h3 {
    position: static;
}

.project:hover {
    filter: grayscale(10%);
    background-color: rgba(0, 0, 0, 0.2);
}

.slider-work .grid-container:not(.active) .project-inner {
    height: 0;
    transition: 0.2s;
}

.slider-work .grid-container:not(.active) .project-inner.hover {
    height: 100%;
}

.project-inner h2 {
    transition: 0.2s;
}

.project-inner h3 {
    font-family: 'Zilla Slab', serif;
    font-size: 16px;
    color: #fff;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.2s;
    padding: 16px;
}

.summary-container {
    position: relative;
    height: 0;
    margin-left: -10px;
}

.summary-container .summary {
    display: grid;
    grid-template-columns: 82vw;
    grid-template-rows: auto;
    grid-template-areas: 
        "overview"
        "desktop-view"
        "mobile-view";
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    width: 90vw;
    position: absolute;
    opacity: 0;
    padding: 4%;
    transition: 0.2s;
    text-align: left;
    background-color: #fff;
}

.summary-container .summary .overview {
    grid-area: overview;
}

.summary-container .summary .overview p {
    color: #222;
    margin-bottom: 20px;
}

.summary-container .summary .overview .back:hover {
    font-weight: 700;
    cursor: pointer;
}

.summary-container .summary .overview .button {
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.4s all;
}

.summary-container .summary.selected {
    opacity: 1;
    z-index: 999999;
    margin-bottom: 5vw;
}

.summary-container .summary .desktop-view {
    grid-area: desktop-view;
}

.summary-container .summary img {
    width: 100%;
    margin-bottom: 30px;
    filter: grayscale(100%);
    transition: 0.4s;
}

.summary-container .summary img:hover {
    filter: grayscale(0%);
}

.summary-container .summary .mobile-view {
    grid-area: mobile-view;
}

.summary-container .summary .mobile-view img {
    width: 80%;
    margin: 0 auto 30px auto;
}

.project-1 {
  background-image: url('images/dryangler.jpg');
}

.project-2 {
  grid-area: project-2;
  background-image: url('images/husqvarna.jpg');
}

.project-3 {
  grid-area: project-3;
  background-image: url('images/midstates.jpg');
}

.project-4 {
  grid-area: project-4;
  background-image: url('images/yn.jpg');
}

.project-5 {
  grid-area: project-5;
  background-image: url('images/seattleu.jpg');
}

.project-6 {
  grid-area: project-6;
  background-image: url('images/hegg.jpg');
}

.project-7 {
  grid-area: project-7;
  background-image: url('images/williams.jpg');
}

.project-8 {
  grid-area: project-8;
  background-image: url('images/kerchers.jpg');
}

.project-9 {
  grid-area: project-9;
  background-image: url('images/columbus.jpg');

}

.project-10 {
  grid-area: project-10;
  background-image: url('images/riders.jpg');

}

.project-11 {
  grid-area: project-11;
  background-image: url('images/buckeye.jpg');
}

/*.project-12 {
  grid-area: project-12;
}

.project-13 {
  grid-area: project-13;
}

.project-14 {
  grid-area: project-14;
}

.project-15 {
  grid-area: project-15;
}*/

/* */


/* Resume */

.slider-resume .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(9, auto);
    padding: 4%;
    box-shadow: 5px 5px 25px #000;
    width: 90vw;
    margin: -10vh auto 5vw auto;
    grid-template-areas: 
        "profile profile"
        "connect headshot"
        "experience experience"
        "education education"
        "skills-title skills-title"
        "skills-list-1 skills-list-1"
        "skills-list-2 skills-list-2"
        "skills-list-3 skills-list-3"
        "volunteer volunteer";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #fff;
}

.slider-resume .grid-container .profile {
    grid-area: profile;
}

.slider-resume .grid-container .connect {
    grid-area: connect;
}

.slider-resume .grid-container .headshot {
    grid-area: headshot;
}

.slider-resume .grid-container .experience {
    grid-area: experience;
}

.slider-resume .grid-container .education {
    grid-area: education;
}

.slider-resume .grid-container .skills-title {
    grid-area: skills-title;
}

.slider-resume .grid-container .skills-list-1 {
    grid-area: skills-list-1;
    margin-top: -30px;
}

.slider-resume .grid-container .skills-list-2 {
    grid-area: skills-list-2;
    margin-top: -30px;
}

.slider-resume .grid-container .skills-list-3 {
    grid-area: skills-list-3;
    margin-top: -30px;
}

.slider-resume .grid-container .volunteer {
    grid-area: volunteer;
}

.resume-section h3 {
    margin-top: 0;
    font-size: 1.8em;
    color: #696969;
    padding-bottom: 10px;
}

.resume-section.profile h3, .resume-section.connect h3 {
    font-weight: 700;
    padding-bottom: 0;
}

.resume-section.experience h3, .resume-section.education h3, .resume-section.skills-title h3, .resume-section.volunteer h3 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-weight: 700;
}

.resume-section.headshot {
    position: relative;
}

.resume-section.headshot .img-container {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    text-align: center;
    width: 100%;
}

.resume-section.headshot .img-container #headshot {
    
}

/* Contact */

.slider-contact .container {
    padding: 4%;
    background-color: #fff;
    margin: -10vh auto 0 auto;
}

.slider-contact .icon-outer {
    text-align: left;
    display: block;
    height: auto;
    width: auto;
}

.slider-contact .icon-outer a {
    text-decoration: none;
}

.slider-contact .icon-outer i {
    display: inline-block;
    padding-right: 10px;
}

.slider-contact .icon-outer p {
    color: #696969;
    display: inline-block;
}

/* Old */

#title {
    font-size: 1.3em;
}

.summary {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 4em;
}

/* RESUME */

.resume-heading2 {
    text-align: center;
    color: #4d5a80;
}

.icons-container {
    display: table;
}

.icon-outer {
    display: table-cell;
    text-align: center;
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.icon-outer i {
    color: #d5e760;
    font-size: 30px;
    transition: all 0.2s;
}

.icon-cont, .title-cont {
    display: table-cell;
    height: 75px;
    vertical-align: middle;
    padding-bottom: 2em;
    padding-top: 2em;
}

.icon-cont i {
    background-color: #696969;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    padding: 10px;
}

#education {
    padding: 10px 7px;
}

/* FOOTER */

#footer {
    padding: 2.5em;
    background-color: black;
    color: white;
    text-align: center;
}

.social-footer {
    display: table;
    margin-left:auto;
    margin-right:auto;
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    h1 {
        font-size: 4em;
    }

    .title h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 2.6em;
    }

    h3 {
        font-size: 1.5em;
    }

    p.small, ul.small li {
        font-size: 18px;
    }

    ul li {
        padding-bottom: 2px;
    }

    p.large {
        font-size: 1.6em;
    }

    ul {
        font-size: 1.3em;
        font-weight: 300;
    }

    #headshot {
        width: 60%;
        -moz-filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all 0.3s;
    }

    .icon-cont, .title-cont {
        padding-top: 1em;
    }
}

/* col-sm */
@media screen and (min-width: 768px) {
    .slider-work .grid-container {
        grid-template-columns: repeat(6, auto);
        grid-template-rows: 50vh 33.333333vh 33.333333vh 33.333333vh 33.333333vh;
        grid-template-areas: 
            "featured-container featured-container featured-container featured-container featured-container featured-container"
            "project-2 project-2 project-2 project-3 project-3 project-3"
            "project-4 project-4 project-5 project-5 project-6 project-6"
            "project-7 project-7 project-7 project-8 project-8 project-8"
            "project-9 project-9 project-10 project-10 project-11 project-11";
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }

    .slider-work .grid-container.active {
        grid-template-rows: 50vh auto;
        grid-template-areas:
            "featured-container featured-container featured-container featured-container featured-container featured-container"
            "summary-container summary-container summary-container summary-container summary-container summary-container";
        overflow: visible;
        grid-row-gap: 0;
        grid-column-gap: 0;
    }

    .slider-resume .grid-container {
        grid-template-columns: 37% auto 30%;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
            "profile headshot connect"
            "experience experience experience"
            "education education education"
            "skills-title skills-title skills-title"
            "skills-list-1 skills-list-2 skills-list-3"
            "volunteer volunteer volunteer";
    }

    .summary-container .summary {
        grid-template-columns: 30% 44% auto;
        grid-template-areas: 
            "overview desktop-view mobile-view";
    }

    .summary-container .summary .overview p {
        font-size: 16px;
    }

    .title {
        padding-bottom: 15vh;
    }

    #headshot:hover{
        width: 70%;
        -webkit-filter: grayscale(30%);
        -moz-filter: grayscale(30%);
        -ms-filter: grayscale(30%);
        -o-filter: grayscale(30%);
        filter: grayscale(30%);
    }

    .social-resume .icon-container i:hover {
        font-size: 38px;
        text-decoration: none;
        color: rgba(213, 231, 96, 0.5);
    }

    .summary-container .summary .mobile-view img {
        width: 50%;
    }
}

/* col-md */
@media screen and (min-width: 992px) {

    .summary-container .summary .mobile-view img {
        width: 100%;
    }
}