/* MAIN STYLES */

* {
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2.4em;
    margin: 10px 0px;
}

h2 {
    font-size: 2.2em;
    margin: 20px 0px;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.3em;
}

h4 * {
    font-family: 'Karla', sans-serif;
}

p {
    font-weight: 300;
}

p.large {
    font-size: 1.2em;
    line-height: 1.6em;
}

p.small, ul.small li {
    font-size: 16px;
    line-height: 1.6em;
}

p.xsmall {
    font-size: 1.15em;
    line-height: 1.7em;
    margin: 0 0 20px;
}

ul {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.5em;
}

ul li {
    padding-bottom: 6px;
}

hr {
    margin-bottom: 0;
}

.center-mobile {
    text-align: center;
    padding-bottom: 50px;
}

.button {
    color: white;
    font-size: 18px;
    font-weight: 300;
    background-color: #4d5a80;
    border: none;
    padding: 9px 16px;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
}

.button:hover, .button:focus {
    color: white;
    text-decoration: none;
}

/* NAVIGATION */

#header {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#header.smaller {
    height: 50px;
}

#logo {
    float: left;
    display: inline-block;
    position: fixed;
    height: 50px;
    z-index: 999;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#logo.smaller {
    height: 33px;
    margin-top: 9px;
    margin-left: 8px;
}

#nav-list {
    float: right;
    display: inline-block;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    width: 150px;
    position: absolute;
    line-height: 60px;
    -webkit-transform: translate(100vw, 70px);
    -moz-transform: translate(100vw, 70px);
    -ms-transform: translate(100vw, 70px);
    -o-transform: translate(100vw, 70px);
    transform: translate(100vw, 70px);
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}

#nav-list.smaller {
    margin-top: 0px;
    line-height: 50px;
    -webkit-transform: translate(100vw, 50px);
    -moz-transform: translate(100vw, 50px);
    -ms-transform: translate(100vw, 50px);
    -o-transform: translate(100vw, 50px);
    transform: translate(100vw, 50px);
}

#nav-list.open {
    -webkit-transform: translate(calc(100vw - 150px), 70px);
    -moz-transform: translate(calc(100vw - 150px), 70px);
    -ms-transform: translate(calc(100vw - 150px), 70px);
    -o-transform: translate(calc(100vw - 150px), 70px);
    transform: translate(calc(100vw - 150px), 70px);
}

#nav-list.smaller.open {
    -webkit-transform: translate(calc(100vw - 150px), 50px);
    -moz-transform: translate(calc(100vw - 150px), 50px);
    -ms-transform: translate(calc(100vw - 150px), 50px);
    -o-transform: translate(calc(100vw - 150px), 50px);
    transform: translate(calc(100vw - 150px), 50px);
}

.nav-item {
    font-size: 1.25em;
    text-align: left;
    display: list-item;
    list-style: none;
    color: darkgrey;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Karla', sans-serif;
}

.nav-item:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#nav-icon-cont {
    display: inline-block;
    float: right;
    width: 35px;
    margin: 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#nav-icon {
    fill: #e0e0e0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#nav-icon-cont.smaller {
    width: 26px;
    margin: 10px;
}

/* MAIN CONTENT */

.black {
    background-color: black;
}

#main-img {
    background-image: url('images/header1_lg.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    overflow-x: hidden;
}

#text-overlay {
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    color: white;
    position: absolute;
    padding: 0 30px;
}

#title {
    font-size: 1.3em;
    font-weight: bold;
}

#title h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

#arrow {
    width: 100%;
    color: white;
    font-size: 4em;
    text-align: center;
    bottom: 0;
    padding-bottom: 20px;
    position: absolute;
    animation: bounce 1.5s infinite ease-in-out;
}

.container-color {
    background-color: #ecedf1;
    width: 100%;
}

.text-block {
    margin: 2.5em 1em;
    text-align: center;
}

.summary {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 4em;
}

.diagonal {
    display: block;
    width: 100%;
    height: 45px;
    padding-left: -15px;
    padding-right: -15px;
}

.white {
    fill: white;
}

.lt-blue {
    fill: #ecedf1;
}

.project-blurb {
    opacity: 0;
}

.project-title {
    margin-bottom: 0;
}

.project-subtitle {
    font-style: italic;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* RESUME */

.pad-bottom {
    padding-bottom: 2em;
}

.pad-top {
    padding-top: 2em;
}

.resume-heading2 {
    text-align: center;
    color: #4d5a80;
}

.resume-heading3 {
    font-size: 1.5em;
    color: #4d5a80;
    margin-bottom: 0.8em;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -ms-transition: all 0.5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#headshot {
    opacity: 0;
    padding-left: 0;
}

#headshot-image {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

.social-resume {
    display: table;
}

.social-int {
    display: table-cell;
    text-align: center;
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.social-icon {
    color: #4d5a80;
    font-size: 30px;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all 0.3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.row-blue {
    background-color: #ecedf1;
    width: 100vw;
}

.icon-cont, .title-cont {
    display: table-cell;
    height: 75px;
    vertical-align: middle;
    padding-bottom: 2em;
    padding-top: 2em;
}

.icon-cont {
    padding-left: 30px;
}

.title-cont {
    padding-right: 20px;
}

.resume-icon {
    color: white;
    font-size: 26px;
    border-radius: 50%;
    padding: 12px;
}

.title-cont h3 {
    font-size: 1.8em;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

#experience {
    background-color: #2d8659;
}

#education {
    background-color: #2d2d86;
    padding: 12px 8.29px;
}

#technical {
    background-color: #ff3300;
}

#volunteer {
    background-color: #cc0000;
}

#about {
    padding-bottom: 2em;
}

/* FOOTER */

#footer {
    padding: 2.5em;
    background-color: black;
    color: white;
    text-align: center;
}

.social-footer {
    display: table;
    margin-left:auto;
    margin-right:auto;
}

/* Internal Project Pages */

.project .header-img {
    background-size: cover;
    background-position: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    position: relative;
    height: 40vh;
}

.project #text-overlay {
    position: absolute;
    transform: translate(0, -50%);
    top: calc(50% + 35px);
    padding: 0 25px;
}

.project #text-overlay h2 {
    padding-bottom: 5px;
    margin: 0;
}

.project #text-overlay p {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.3em;
}

.project .container-main {
    padding-top: 65px;
    padding-bottom: 65px;
}

.project .container-main img {
    padding-bottom: 30px;
}

.project .button {
    margin: 10px 0;
}

.project .mobile img {
    width: 80%;
    margin: 0 auto;
}

/* Dry Angler */
.dryangler .header-img {
    background-image: url('images/dryangler.jpg');
}

/* Husqvarna */
.husqvarna .header-img {
    background-image: url('images/husqvarna.jpg');
}

/* Mid-States */
.midstates .header-img {
    background-image: url('images/midstates.jpg');
}

/* Young Nichols */
.yn .header-img {
    background-image: url('images/yn.jpg');
}

/* Hegg */
.hegg .header-img {
    background-image: url('images/hegg.jpg');
}

/* Williams */
.williams .header-img {
    background-image: url('images/williams.jpg');
}

/* Kerchers */
.kerchers .header-img {
    background-image: url('images/kerchers.jpg');
}

/* Seattle U */
.seattleu .header-img {
    /*background-color: #333;*/
    background-image: url('images/seattleu.jpg');
    background-position: 0% 50%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2.6em;
    }

    h3 {
        font-size: 1.5em;
    }
/*
    p.small, ul.small li {
        font-size: 1.1em;
    }*/

    ul li {
        padding-bottom: 2px;
    }

    p.large {
        font-size: 1.4em;
    }

    ul {
        font-size: 1.3em;
        font-weight: 300;
    }

    #nav-icon-cont {
        display: none;
    }

    #nav-list {
        float: right;
        display: inline-block;
        line-height: 70px;
        width: 100%;
        z-index: 10;
        position: static;
        background-color: rgba(0, 0, 0, 0);
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav-item {
        display: inline;
        float: right;
        padding-left: 0px;
        color: darkgrey;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        -ms-transition: all 0.5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    #nav-list.smaller {
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #title h1 {
        letter-spacing: 6px;
    }

    .text-block {
        margin: 65px 12%;
    }

    #headshot-image {
        width: 150px;
        -moz-filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -ms-transition: all 0.3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .icon-cont, .title-cont {
        padding-top: 1em;
    }
}

/* col-sm */
@media screen and (min-width: 768px) {
    .center-mobile {
        text-align: left;
    }

    .darken {
        -moz-filter: brightness(75%);
        -webkit-filter: brightness(75%);
        -ms-filter: brightness(75%);
        -o-filter: brightness(75%);
        filter: brightness(75%);
        transition: .6s all;
    }

    .darken:hover {
        -moz-filter: brightness(100%);
        -webkit-filter: brightness(100%);
        -ms-filter: brightness(100%);
        -o-filter: brightness(100%);
        filter: brightness(100%);
    }

    .button:hover {
        -webkit-filter: hue-rotate(90deg);
        -moz-filter: hue-rotate(90deg);
        -ms-filter: hue-rotate(90deg);
        -o-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
        transition: .4s all;
    }

    #headshot-image:hover{
        width: 190px;
        padding-top: 50px;
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
    }

    .diagonal {
        height: 90px;
    }

    .social-icon:hover {
        font-size: 38px;
        text-decoration: none;
        -webkit-filter: hue-rotate(90deg);
        -moz-filter: hue-rotate(90deg);
        -ms-filter: hue-rotate(90deg);
        -o-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
    }

    /* Internal Project Pages */

    .project .mobile img {
        width: 50%;
    }
}

/* col-md */
@media screen and (min-width: 992px) {
    #headshot, #about {
        margin-bottom: 0;
    }

    .relative {
        position: relative;
    }

    .overflow {
        position: absolute;
        right: 0;
    }

    .project .mobile img {
        width: 100%;
        margin: auto;
    }
}

/* ANIMATIONS */

@keyframes bounce {
    0%, 20%, 60%, 100%  { transform: translateY(0); }
    40%  { transform: translateY(-20px); }
    80% { transform: translateY(-10px); }
}