/* * {
   outline: 1px solid red !important;
} */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
   font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 2.4em;
    margin: 10px 0px;
}

h2 {
    font-size: 2.2em;
    margin: 20px 0px;
    font-weight: 700;
}

h3 { 
    font-size: 1.4em;
    font-weight: 700;
}

p {
    font-weight: 300;
}

p.large {
    font-size: 1.2em;
    line-height: 170%;
}

p.small {
    font-size: 1.1em;
    line-height: 170%;
}

ul {
    font-size: 1.1em;
    font-weight: 300;
}

/* NAVIGATION */

#header {
    width: 100%;
    height: 95px;
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#logo {
    float: left;
    display: inline-block;
    position: fixed;
    height: 73px;
    z-index: 999;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#header nav {
    float: right;
    display: inline-block;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    width: 150px;
    position: absolute;
    -webkit-transform: translate(100vw, 50px);
    transform: translate(100vw, 50px);
    transition: transform 0.3s ease;
}

#header nav a {
    font-size: 1.25em;
    text-align: left;
    display: list-item;
    list-style: none;
    line-height: 50px;
    color: darkgrey;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
}

#header nav a:hover {
    color: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#header.smaller {
    height: 50px;
}

#logo.smaller {
    height: 33px;
    margin-top: 8px;
    margin-left: 8px;
}

#header.smaller nav {
    margin-top: 0px;
}

#header.smaller nav a {
    line-height: 50px;
}

#header_menu { 
    display: inline-block;
    float: right;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#header_menu svg {
    width: 35px;
    fill: #E0E0E0;
    margin: 0.6em;
}

#header nav.open {
    -webkit-transform: translate(calc(100vw - 150px), 50px);
    transform: translate(calc(100vw - 150px), 50px);
}

/*Main Content */

.mainImg { 
    background: fixed;
    background-image: url('images/header2.jpg');
    background-size: cover;
    height: 100vh;
}

.textOverlay {
    width: 100%;
    top: calc(50vh - 57.5px);
    text-align: center;
    color: white;
    position: absolute;
}

.textBlock {
    margin: 2.5em 1em;
}

.centerImg { 
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

#arrow { 
    height: 30px;
    top: calc(100% - 50px);
    left: calc(50% - 19.64px);
    animation-name: arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#button {  
    width: 100px;
    margin-bottom: 3em;
}

#footer { 
    padding: 2.5em;
    background-color: black;
    color: white;
    text-align: center;
}

#social_icons {
    width: 36px;
    margin-left: 6px;
    margin-right: 6px;
}

#social_icons:hover {
    filter: hue-rotate(90deg);
    -webkit-filter: hue-rotate(90deg);
    transition: .6s -webkit-filter, .6s filter, .6s -moz-filter, .6s -ms-filter;
}

.resume { 
    padding-top: 2em;
    padding-bottom: 2em;
}

.resume h2 { 
    text-align: center;
    color: #4d5a80;
}

#about {
    padding-bottom: 2em;
}

#headshot img {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
}

.container-color {
    background-color: #f3efe0;
    width: 100%;
    padding-bottom: 1.75em;
}

.row-blue {
    background-color: #ecedf1;
    width: 100vw;
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    h1 { 
        font-size: 4em;
    }
    h2 {
        font-size: 2.6em;
    }
    h3 {
        font-size: 1.5em;
    }    
    p.small { 
        font-size: 1.3em;
    }
    p.large { 
        font-size: 1.6em;
    }
    ul {
        font-size: 1.3em;
        font-weight: 300;
}
    #header_menu {
        display: none;
    }
    #header nav {
        float: right;
        display: inline-block;
        width: 100%;
        z-index: 10;
        position: static;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        background-color: rgba(0, 0, 0, 0);
    }
    #header nav a {
        display: inline;
        float: right;
        line-height: 95px;
        padding-left: 0px;
        color: darkgrey;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        -ms-transition: all 0.5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    .textBlock {
        margin: 50px 12%;
    }
    #headshot img {
        width: 130px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -ms-transition: all 0.3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    #headshot img:hover{
        width: 160px;
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
    }
}
/* col-sm */
@media screen and (min-width: 768px) {
    .darken {
        filter: brightness(65%);
        -webkit-filter: brightness(65%);
        transition: .6s -webkit-filter, .6s filter, .6s -moz-filter, .6s -ms-filter;
    }

    .darken:hover {
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }
}
/* col-md */
@media screen and (min-width: 992px) {
    #headshot, #about {
        margin-bottom: 0;
    }
}

/* ANIMATIONS */

@keyframes arrow { 
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100%   {opacity: 0;}
}