/* MAIN STYLES */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
   font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 2.4em;
    margin: 10px 0px;
}

h2 {
    font-size: 2.2em;
    margin: 20px 0px;
    font-weight: 700;
}

h3 { 
    font-size: 1.4em;
    font-weight: 700;
}

h4 {
    font-size: 1.3em
}

p {
    font-weight: 300;
}

p.large {
    font-size: 1.2em;
    line-height: 1.7em;
}

p.small {
    font-size: 1.3em;
    line-height: 1.5em;
}

ul {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.5em;
}

hr { 
    margin-bottom: 0;
}

/* NAVIGATION */

#header {
    width: 100%;
    height: 95px;
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#logo {
    float: left;
    display: inline-block;
    position: fixed;
    height: 73px;
    z-index: 999;
    margin-top: 6px;
    margin-left: 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#header nav {
    float: right;
    display: inline-block;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    width: 150px;
    position: absolute;
    -webkit-transform: translate(100vw, 95px);
    transform: translate(100vw, 95px);
    transition: transform 0.3s ease;
}

#header nav a {
    font-size: 1.25em;
    text-align: left;
    display: list-item;
    list-style: none;
    line-height: 50px;
    color: darkgrey;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
}

#header nav a:hover {
    color: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#header.smaller {
    height: 50px;
}

#logo.smaller {
    height: 33px;
    margin-left: 10px;
}

#header.smaller nav {
    margin-top: 0px;
    -webkit-transform: translate(100vw, 50px);
    transform: translate(100vw, 50px);
}

#header.smaller nav a {
    line-height: 50px;
}

#header_menu { 
    display: inline-block;
    float: right;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#header_menu svg {
    width: 35px;
    fill: #E0E0E0;
    margin: 2em 1em;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#header nav.open {
    -webkit-transform: translate(calc(100vw - 150px), 95px);
    transform: translate(calc(100vw - 150px), 95px);
}

#header.smaller nav.open {
    -webkit-transform: translate(calc(100vw - 150px), 50px);
    transform: translate(calc(100vw - 150px), 50px);
}

#header.smaller svg {
    width: 26px;
    fill: #E0E0E0;
    margin: 0.75em 1em;
}

/* MAIN CONTENT */

.mainImg { 
    background-image: url('images/header_med.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.textOverlay {
    width: 100%;
    top: calc(50vh - 57.5px);
    text-align: center;
    color: white;
    position: absolute;
}

.textBlock {
    margin: 2.5em 1em;
    text-align: center;
}

.summary {
    text-align: center;
    padding-top: 2em;
}

#arrow { 
    width: 100%;
    color: white;
    font-size: 4em;
    text-align: center;
    top: calc(100% - 80px);
    position: absolute;
    animation: bounce 1.5s infinite ease-in-out;
}

#button {  
    width: 90px;
    margin-bottom: 3em;
    color: white;
    background-color: #4d5a80;
    font-size: 18px;
    border: none;
    padding: 8px;
    font-weight: 300;
    margin-top: 0.5em;
}

#footer { 
    padding: 2.5em;
    background-color: black;
    color: white;
    text-align: center;
}

.social-resume {
    display: table;
}

.social-footer {
    display: table;
    margin-left:auto; 
    margin-right:auto;
}

.social-int {
    display: table-cell;
    text-align: center;
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.social-icon {
    color: #4d5a80;
    font-size: 30px;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all 0.3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.resume { 
    padding-top: 2em;
    padding-bottom: 2em;
}

.resume h2 { 
    text-align: center;
    color: #4d5a80;
}

.resume h3 {
    font-size: 1.5em;
    color: #4d5a80;
    margin-bottom: 0.8em;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -ms-transition: all 0.5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.icon-cont, .title-cont {
    display: table-cell;
    height: 75px;
    vertical-align: middle;
}

.icon-cont {
    padding-left: 30px;
}

.title-cont {
    padding-right: 20px; 
}

.resume-icon {
    color: white;
    font-size: 26px;
    border-radius: 50%;
    padding: 12px;
    transition: .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all 0.2s;
    -o-transition: all .2s;
}

.title-cont h3 {
    font-size: 1.8em;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

#experience {
    background-color: #2d8659;
}

#education {
    background-color: #2d2d86;
    padding: 12px 8.29px;
}

#technical {
    background-color: #ff3300;
}

#volunteer {
    background-color: #cc0000;
}

#about {
    padding-bottom: 2em;
}

#headshot img {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

.container-color {
    background-color: #f3efe0;
    width: 100%;
    padding-bottom: 1.75em;
}

.row-blue {
    background-color: #ecedf1;
    width: 100vw;
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    h1 { 
        font-size: 4em;
    }
    h2 {
        font-size: 2.6em;
    }
    h3 {
        font-size: 1.5em;
    }    
    p.small { 
        font-size: 1.3em;
    }
    p.large { 
        font-size: 1.6em;
    }
    ul {
        font-size: 1.3em;
        font-weight: 300;
}
    #header_menu {
        display: none;
    }
    #header nav {
        float: right;
        display: inline-block;
        width: 100%;
        z-index: 10;
        position: static;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        background-color: rgba(0, 0, 0, 0);
    }
    #header nav a {
        display: inline;
        float: right;
        line-height: 95px;
        padding-left: 0px;
        color: darkgrey;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        -ms-transition: all 0.5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    #header.smaller nav {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
}
    .textBlock {
        margin: 50px 12%;
    }
    #headshot img {
        width: 130px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -ms-transition: all 0.3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
}

/* col-sm */
@media screen and (min-width: 768px) {
    .darken {
        filter: brightness(75%);
        -webkit-filter: brightness(75%);
        -moz-filter: brightness(75%);
        -ms-filter: brightness(75%);
        -o-filter: brightness(75%);
        transition: .6s -webkit-filter, .6s filter, .6s -moz-filter, .6s -ms-filter;
    }

    .darken:hover {
        filter: brightness(100%);
        -moz-filter: brightness(100%);
        -webkit-filter: brightness(100%);
        -ms-filter: brightness(100%);
        -o-filter: brightness(100%);
    }

    .mainImg {
        background-image: url('images/header.jpg');
    }

    #button:hover {
        filter: hue-rotate(90deg);
        -webkit-filter: hue-rotate(90deg);
        -moz-filter: hue-rotate(90deg);
        -ms-filter: hue-rotate(90deg);
        -o-filter: hue-rotate(90deg);
        transition: .6s -webkit-filter, .6s filter, .6s -moz-filter, .6s -ms-filter;
    }

    #headshot img:hover{
        width: 160px;
        padding-top: 50px;
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
    }

    .resume-icon:hover {
        font-size: 34px;
        padding: 15px;
    }

    #education:hover {
        padding: 15px 10.15px;
    }

    .social-icon:hover {
        font-size: 38px;
        text-decoration: none;
        filter: hue-rotate(90deg);
        -webkit-filter: hue-rotate(90deg);
        -moz-filter: hue-rotate(90deg);
        -ms-filter: hue-rotate(90deg);
        -o-filter: hue-rotate(90deg);
    }
}

/* col-md */
@media screen and (min-width: 992px) {
    #headshot, #about {
        margin-bottom: 0;
    }
}

/* ANIMATIONS */

@keyframes bounce {
    0%, 20%, 60%, 100%  { transform: translateY(0); }
    40%  { transform: translateY(-20px); }
    80% { transform: translateY(-10px); }
}