/* MAIN STYLES */

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-size: 2em;
}

h3 {
    text-align: center;
    font-size: 1.75em;
}

p {
    margin: 20px 0px;
    font-size: 1.25em;
    line-height: 1.7em;
}

p.source {
    font-size: 0.8em;
    font-style: italic;
}

/* MAIN CONTENT */

.container {  
    max-width: 100%;
}

.top {
    font-size: 1em;
    display: table;
    width: 100%;
    height: 100vh;
    background: url('images/header_home3.jpg') top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.img-top {
    font-size: 1em;
    display: table-cell;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
}

#back-tab {
    position: fixed;
    float: left;
    font-size: 0.8em;
    color: #4d6480;
    background-color: rgba(255,255,255, 0.8);
    padding: 1em;
    margin: 0;
    top: 20px;
    z-index: 2;
}

.intro {
    text-align: center;
    padding: 1em 2em;
    background-image: url(images/map_background.jpg);
    background-attachment: fixed;
}

.title {
    background-color: #4d6480;
    color: white;
    padding: 0.8em;
    text-align: center;
    font-size: 1.3em;
}

.button {  
    padding-top: 0.5em;
    width: 100px;
}

.neighborhood-cont {
    padding: 15px;
}

#neighborhood0, #neighborhood1, #neighborhood2, #neighborhood3, #neighborhood4, #neighborhood5 {
    display: table;
    height: 500px;
    width: calc(100% - 40px);
    padding: 20px;
    float: left;
    opacity: 1;
}

#ft-img-large-cont {
    position: absolute;
    float: left;
    height: 500px;
    width: 33.33%;
    padding: 15px;
    opacity: 0;
    z-index: -1;
}

#ft-img-large {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.detail {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}

.detail h4 {
    color: white;
    font-size: 1.75em;
    text-shadow: 2px 2px #000;
}

#desc-cont0, #desc-cont1, #desc-cont2, #desc-cont3, #desc-cont4, #desc-cont5 {
    overflow: hidden;
    position: relative;
}

#desc0, #desc1, #desc2, #desc3, #desc4, #desc5 {
    position: absolute;
    height: auto;
    width: calc(100% - 90px);
    float: left;
    padding-left: 45px;
    padding-right: 45px;
    background-color: white;
    right: -50%;
    top: -15px;
    z-index: -1;
}

#hood-img0 {
    background: url('images/patterson.jpg');
    background-size: cover;
}

#hood-img1 {
    background: url('images/mt_vernon.jpg');
    background-size: cover;
}

#hood-img2 {
    background: url('images/hampden.jpg');
    background-size: cover;
}

#hood-img3 {
    background: url('images/fells.jpg');
    background-size: cover;
}

#hood-img4 {
    background: url('images/harbor_east.jpg');
    background-size: cover;
}

#hood-img5 {
    background: url('images/mt_wash.jpg');
    background-size: cover;
}

/* MEDIA QUERIES */

@media only screen and (min-width:410px) {
    .detail h4 {
        font-size: 2em;
    }
    .img-top {
        font-size: 1.5em;
    }
}

@media only screen and (min-width:700px) {
    #neighborhood0, #neighborhood1, #neighborhood2, #neighborhood3, #neighborhood4, #neighborhood5 {
        width: calc((100% - 120px) / 3);
        -moz-transition: height .4s, opacity .4s;
        -webkit-transition: height .4s, opacity .4s;
        -ms-transition: height .4s, opacity .4s;
        -o-transition: height .4s, opacity .4s;
        transition: height .4s, opacity .4s;
    }
    #ft-img-large-cont {
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    #desc0, #desc1, #desc2, #desc3, #desc4, #desc5 {
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .detail {
        text-shadow: 0px;
    }
    .intro {
        padding: 1em 3em;
    }
}

@media only screen and (min-width:768px) {
    .detail {
        filter: brightness(50%);
        -moz-filter: brightness(50%);;
        -webkit-filter: brightness(50%);
        -ms-filter: brightness(50%);
        -o-filter: brightness(50%);
    }

    .detail:hover {
        text-shadow: 2px 2px #000;
        filter: brightness(100%);
        -moz-filter: brightness(100%);;
        -webkit-filter: brightness(100%);
        -ms-filter: brightness(100%);
        -o-filter: brightness(100%);
    }
}

@media only screen and (min-width:701px) and (max-width:1300px) {
    #neighborhood0, #neighborhood1, #neighborhood2, #neighborhood3, #neighborhood4, #neighborhood5 {
        width: calc((100% - 80px) / 2);
    }
}

@media only screen and (min-width:1100px) {
    #desc0, #desc1, #desc2, #desc3, #desc4, #desc5 {
        width: calc(50% - 72px);
        height: 700px;
        position: absolute;
    }
    .intro {
        padding: 2em 20em;
    }
}

